body{
    margin: 0px;
    padding: 0px;
    
}
#instrument{
    height: 700px;
    width: 100%;
    background-color:black;
    
}
.group1, .group2, .group3, .group4{
    width: 25%;
    height: 700px;
    background-color:black;
    float: left;
}
.div1{
    width: 100%;
    height: 50%;
    background-color:black;
}
.dc1{

    height: 300px;
    width: 260px;
    background-color:black;
    position: relative;
    top:5%;
    left: 95px;
/*     border-radius: 50%;*/
}
.dc1 img{
    width: 100%;
    height: 100%;
    position: relative;
    left: -2px;
    border:3px solid white;
  
/*    border-radius: 50%;*/
   
}

.div2{
   width: 100%;
    height: 50%;
    background-color:black;  
}
.dc2{

     height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 95px;
/*     border-radius: 50%;*/
}

.dc2 img{
   width: 100%;
    height: 100%;
    position: relative;
     left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
}
   
    

.div3{
    width: 100%;
    height: 50%;
    background-color: black;
}
.dc3{

   height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 65px;
/*     border-radius: 50%;*/
}
.dc3 img{
    width: 100%;
    height: 100%;
    position: relative;
     left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
   
}
.div4{
   width: 100%;
    height: 50%;
    background-color:black;  
}
.dc4{

    height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 65px;
/*     border-radius: 50%;*/
}
.dc4 img{
   width: 100%;
    height: 100%;
    position: relative;
    left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
}

.div5{
    width: 100%;
    height: 50%;
    background-color: black;
}
.dc5{

   height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 35px;
/*     border-radius: 50%;*/
}
.dc5 img{
    width: 100%;
    height: 100%;
    position: relative;
     left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
   
}
.div6{
   width: 100%;
    height: 50%;
    background-color:black;  
}
.dc6{

    height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 35px;
/*     border-radius: 50%;*/
}
.dc6 img{
   width: 100%;
    height: 100%;
    position: relative;
    left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
}

.div7{
    width: 100%;
    height: 50%;
    background-color: black;
}
.dc7{

    height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 3px;
/*     border-radius: 50%;*/
}
.dc7 img{
    width: 100%;
    height: 100%;
    position: relative;
     left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
   
}
.div8{
   width: 100%;
    height: 50%;
    background-color:black;  
}
.dc8{

     height: 300px;
    width: 260px;
    background-color: brown;
    position: relative;
    top:5%;
    left: 3px;
/*     border-radius: 50%;*/
}
.dc8 img{
   width: 100%;
    height: 100%;
    position: relative;
    left: -2px;
    border:3px solid white;
/*    border-radius: 50%;*/
}


.b1{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 43%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b1 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div1:hover .b1{
    opacity: 1;
}
.div1:hover{
   opacity: 0.8;
}
.b1:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b2{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 66%;
    bottom: 62%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b2 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div1:hover .b2{
    opacity: 1;
}
.div1:hover{
   opacity: 0.8;
}
.b2:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}
/*
.e{
    height: 60px;
    width: 60px;
    background-color: aqua;
    position: relative;
    left: 53%;
    bottom: 52%;
}*/
.b3{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 43%;
    bottom: 47%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b3 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div2:hover .b3{
    opacity: 1;
}
.div2:hover{
   opacity: 0.8;
}
.b3:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b4{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 66%;
    bottom: 64%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b4 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div2:hover .b4{
    opacity: 1;
}
.div2:hover{
   opacity: 0.8;
}
.b4:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}



.b5{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 36%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b5 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div3:hover .b5{
    opacity: 1;
}
.div3:hover{
   opacity: 0.8;
}
.b5:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b6{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 60%;
    bottom: 61%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b6 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div3:hover .b6{
    opacity: 1;
}
.div3:hover{
   opacity: 0.8;
}
.b6:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}



.b7{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 36%;
    bottom: 47%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b7 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div4:hover .b7{
    opacity: 1;
}
.div4:hover{
   opacity: 0.8;
}
.b7:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b8{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
     left: 60%;
    bottom: 64%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b8 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div4:hover .b8{
    opacity: 1;
}
.div4:hover{
   opacity: 0.8;
}
.b8:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}




.b9{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
   left: 28%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b9 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div5:hover .b9{
    opacity: 1;
}
.div5:hover{
   opacity: 0.8;
}
.b9:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b10{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 52%;
    bottom: 61%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b10 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div5:hover .b10{
    opacity: 1;
}
.div5:hover{
   opacity: 0.8;
}
.b10:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}



.b11{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 28%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b11 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div6:hover .b11{
    opacity: 1;
}
.div6:hover{
   opacity: 0.8;
}
.b11:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b12{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 52%;
    bottom: 61%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b12 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div6:hover .b12{
    opacity: 1;
}
.div6:hover{
   opacity: 0.8;
}
.b12:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}



.b13{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 19%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b13 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div7:hover .b13{
    opacity: 1;
}
.div7:hover{
   opacity: 0.8;
}
.b13:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b14{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
        left: 42%;
    bottom: 61%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b14 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div7:hover .b14{
    opacity: 1;
}
.div7:hover{
   opacity: 0.8;
}
.b14:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}


.b15{
 height: 60px;
    width: 60px;
    background-color: #231F20;
    position: relative;
    left: 19%;
    bottom: 44%;
    border-radius: 50%;
    opacity: 0; 
    transition: 1s ease;
    cursor:pointer;
}
 .b15 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
   
}

.div8:hover .b15{
    opacity: 1;
}
.div8:hover{
   opacity: 0.8;
}
.b15:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}

.b16{
   height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 42%;
    bottom: 61%;
    border-radius: 50%;
    border-radius: 50%;
     transition: 1s ease;
    opacity: 0;
    cursor:pointer;
}
 .b16 img{
   width: 100%;
    height: 100%;
   border-radius: 50%;
}
.div8:hover .b16{
    opacity: 1;
}
.div8:hover{
   opacity: 0.8;
}
.b16:hover{
    transition: 1s ease;
    transform: scale(1.2,1.2);
}





